<div class="driver-standings-wrapper">

  <h1>{{ selectedYear }} Driver Standings</h1>

  <div class="filters-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Filter by Year</mat-label>
      <mat-select (selectionChange)="onYearChange($event)">
        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filter by Team</mat-label>
      <mat-select (selectionChange)="applyFilter($event, 'team')">
        <mat-option *ngFor="let team of teamNames" [value]="team">{{ team }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Filter by Country</mat-label>
      <mat-select (selectionChange)="applyFilter($event, 'country')">
        <mat-option *ngFor="let country of countryCodes" [value]="country">{{ country }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="driver-standings-table">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="position">Position</th>
        <td mat-cell *matCellDef="let standing">{{ standing.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Driver</th>
        <td mat-cell *matCellDef="let standing">{{ standing.name }}</td>
      </ng-container>

      <ng-container matColumnDef="season_points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell *matCellDef="let standing">{{ standing.season_points }}</td>
      </ng-container>

      <ng-container matColumnDef="season_team_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="season_team_name">Team</th>
        <td mat-cell *matCellDef="let standing">{{ standing.season_team_name }}</td>
      </ng-container>


      <thead>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </thead>
      <tbody>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </tbody>
    </table>
  </div>
</div>
