:root {
  --blue: #001a30;
  --red: #ea1d2d;
  --grey: #a8a9ac;
  --f1grey: #f3f3f3;
  --yellow: #fcd700;
}

.driver-standings-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.filters-wrapper{
  display: flex;
  justify-content: space-between;
}

.table-container{
  width: 80%;
  display: flex;
}

.driver-standings-table {
  width: 80%;
  border-collapse: collapse;
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-align: left;
}

.driver-standings-table thead {
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--grey);
}

.driver-standings-table th,
.driver-standings-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.driver-standings-table tbody tr:nth-child(even) {
  background-color: var(--f1grey);
}

.driver-standings-table tbody tr:hover {
  background-color: #e0e0e0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  font-family: var(--font-secondary);
}
